.vc_row
    .footer-info
        margin 8px -15px 7px


.footer-info
    margin 0
    background $pink-background
    color #fff
    text-align center
    padding 30px 0 40px
    position relative
    &:before,
    &:after
        content ''
        position absolute
        bottom -6px
        left 0
        right 0
        height 8px
        background url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI5IiB3aWR0aD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI5IDgiPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48cGF0aCBkPSJNMjYgNGExMy4xMiAxMy4xMiAwIDAgMS00LTEuOUExNS4zOCAxNS4zOCAwIDAgMCAxNC41IDAgMTUuMzggMTUuMzggMCAwIDAgNyAyLjEgMTMuMTIgMTMuMTIgMCAwIDEgMyA0YTExLjYxIDExLjYxIDAgMCAxLTMgLjM2VjhoMjlWNC4zNkExMS42MSAxMS42MSAwIDAgMSAyNiA0eiIgZmlsbD0iI2ViNWM2MiIgZGF0YS1uYW1lPSJMYXllciAxIi8+PC9zdmc+Cg==') top left repeat-x        
        transform rotateX(180deg)
    &:after
        top -5px
        transform none

    p
        max-width: 863px
        margin: auto
        font-size: 23px
        letter-spacing: .01em
        line-height: 1.3

    +
        .footer
            &:before
                display none
                
.footer-info__content
    font-size 24px
    line-height 29px
    font-family 'MyriadPro-Cond', sans-serif

.footer-info__link
    position relative
    color #FFF
    font-family: 'MintTypeRistrettoSlabProRegular', sans-serif
    background $pink
    max-width: 360px
    display: block
    margin: auto
    padding 24px 15px 36px 20px
    font-size: 36px
    margin-top: 27px
    transition .3s
    &:hover
        background #f14c4d
    &:focus
        background #e23c3e
    &:active
        background #dc3e46
    &:after
        content ""
        display inline-block
        position relative
        width 42px
        height 29px
        background-image url('../images/sprite.png')
        background-position -210px -76px        
        top 5px
        right -10px

.footer-info-no-wave, .footer-info-wave
    &:after, &:before
        background none

.footer-info-wave .bottom-wave
    position absolute
    bottom 0
    background #eb5c62
    height 15px
    width 100%
    &:before
        content ""
        position absolute
        left 0
        bottom 0
        right 0
        background-repeat repeat
        height 10px
        background-size 20px 20px
        background-image radial-gradient(circle at 10px -5px, transparent 12px, white 13px)
    &:after
        content ""
        position absolute
        left 0
        bottom 0
        right 0
        background-repeat repeat
        height 15px
        background-size 40px 20px
        background-image radial-gradient(circle at 10px 15px, white 12px, transparent 13px)

.footer-info-wave .top-wave
    position absolute
    top -15px
    background #fff
    height 15px
    width 100%
    &:before
        content ""
        position absolute
        left 0
        bottom 0
        right 0
        background-repeat repeat
        height 10px
        background-size 20px 20px
        background-image radial-gradient(circle at 10px -5px, transparent 12px, #eb5c62 13px)
    &:after
        content ""
        position absolute
        left 0
        bottom 0
        right 0
        background-repeat repeat
        height 15px
        background-size 40px 20px
        background-image radial-gradient(circle at 10px 15px, #eb5c62 12px, transparent 13px)
