<!-- begin footer  -->
<div class="footer">
    <div class="container">
        <div class="footer__item footer__menu">
            <ul>
                <li><a href="">Инструкция по оклейке</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__item social-menu">
            <span class="social-menu__title">Поделиться</span>
            <ul>
                <li><a href="" target="_blank"><img src="" alt=""><img src="../images/social/vk.png" alt=""></a></li>
                <li><a href="" target="_blank"><img src="" alt=""><img src="../images/social/f.png" alt=""></a></li>
                <li><a href="" target="_blank"><img src="" alt=""><img src="../images/social/ok.png" alt=""></a></li>
                <li><a href="" target="_blank"><img src="" alt=""><img src="../images/social/twitter.png" alt=""></a></li>
                <li><a href="" target="_blank"><img src="" alt=""><img src="../images/social/google.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end footer -->